body{
    background-color: aliceblue;
}

.teste{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    transform: translate(-1.000%, 40%);
}

.box_tv{
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 1%;
    width: 100%;
}


.tv{
    width: 10%;
}

.texto{
    transform: translate(30%, 110%); 
}

